@{
    ViewBag.Title = "About";
}
<body class="aboutBackground"> 
   
    <div class="container-fluid text-center">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Projects", "Index", "ProjectDatas")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        </div>

        <div class="container aboutContain">

            <div class="col-md-3">
                <img class="aboutPhoto" src="~/Content/Images/AboutMePhoto.jpg" />
            </div>

            <div class="col-md-6 col-md-offset-1 section">
                <h1 class="aboutH1">
                    About Me
                </h1>

                <div class="aboutParagraphs">
                    <p class="text-center col-xs-12">
                        Hi, my name's Scott.

                    </p>

                    <p class="aboutMePara col-xs-12">
                        I'm an aspiring software engineer and recent graduate from We Can {Code} IT, Coding Boot Camp.
                    </p>

                    <p class="col-xs-12">
                        Thus far, I am most familiar with C# and the .NET Framework. I have a basic understanding of SQL Server and Front-End Development (HTML / CSS / Bootstrap).
                        I'm eager to expand my basis of knowledge, and look forward to being apart of a team where I can grow and in turn utilize my skills to contribute to the development of your organization.
                        @*Although I am still finding my niche as a developer, I am very open to learning and eager to become a part of a team where I can grow and in turn utilize my skills to contribute to the development of your organization.*@
                    </p>

                </div>
            </div>






            @*<h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>*@




